th {
    text-align: center;
}

#d1, #d2, #d3 {
    text-align: center;
}

#map-canvas {
    position: center;
}

body {
    background-color: black;
}

label {
    color: white;
}

#day {
    color: white;
}

#date {
    text-align: center;
    color: white;
    padding: 0;
    margin-bottom: 50px;
}